.calendar {
  width: 80%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid white;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border: 1px solid white;
}

.calendar td {
  width: 100px;
  height: 100px;
  padding: 20px 0px 0px 5px;
  color: white;
}

.month {
  font-size: 25px;
  color: white;
}

.date {
  font-size: 18px;
  color: white;
}

ul {
  height: 95%;
  padding: 0px 5px 0px 20px;
  color: white;
}

/*a {*/
/*  color: #17a2b8;*/
/*}*/


.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: white;
  /*background-color: transparent;*/
  box-shadow: 2px 2px 0px 0px;
}

.clearfix {
  margin: 1px;
}