{% extends 'base/base.html' %}
{% load static %}
{% block content_page %}
    <!-- profile details section -->
    <section id="car-details">
        <h1>Vacation Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- user username -->
                <p class="description">Vacation Id: {{ object.pk }}</p>
                <!-- user email -->
                <p class="description">Created by: {{ object.user.get_full_name }}</p>
                <p class="description">Approved status: {{ object.approved }}</p>
                <p class="description">Vacation start date: {{ object.start_date }}</p>
                <p class="description">Vacation end date: {{ object.end_date }}</p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'vacation edit' pk=object.pk %}" class="edit-button">Edit</a>
                    <a href="{% url 'vacation delete' pk=object.pk %}" class="delete-button">Delete</a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}