{% extends 'base/base.html' %}
{% load static %}
{% block content_page %}

    <section id="create-page" class="auth">
        <form id="create" method="post">
            <div class="container">

                <h1>{{ form_title }}</h1>
                <form method=post>
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input class="btn submit" type="submit" value="{{ form__button_title }}">
                </form>
            </div>
        </form>
    </section>

{% endblock %}