{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <title>TaskManager</title>
</head>

<body>
<div id="box">
    <header>

        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'home page' %}"><span>T</span>ASK <span>M</span>ANAGER</a></h1>
        <nav>
            {#            {% if not profile %}#}
            <!-- if the user has not created a profile -->
            {#            <a href="{% url 'register user' %}">Register</a>#}
            {#            {% else %}#}
            <!-- if the user has created a profile -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'vacations list' %}">Vacations</a>
                {% if vacations %}
                    <a href="{% url 'vacation create' %}">Create Vacation</a>
                    <a href="{% url 'vacations calendar' %}">Calendar Vacations</a>
                    <p>|</p>
                {% endif %}
                <a href="{% url 'tasks list' %}">Tasks</a>
                <a href="{% url 'task create' %}">Create Task</a>
                <p>|</p>
                <a href="{% url 'profile-view user' pk=request.user.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Log Out</a>
            {% else %}
                <a href="{% url 'register user' %}">Register</a>
                <a href="{% url 'login user' %}">Log In</a>
            {% endif %}
            {#            {% endif %}#}
        </nav>
    </header>

    {% block content_page %}

    {% endblock %}

    <!-- footer -->
    <footer>
        &copy;thesis works 2022. All rights reserved.
    </footer>

</div>
</body>
</html>