{% extends 'base/base.html' %}
{% block content_page %}


    <!-- edit car form -->
    <section id="create-page" class="auth">
        <form id="create" method="post">
            <div class="container">

                <h1>Edit Profile</h1>
                {{ form }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Save Changes">
            </div>
        </form>
        {% if object.pk %}
            <a href="{% url 'password-edit user' pk=object.pk %}">Change Password</a>
        {% endif %}
    </section>

{% endblock %}