{% extends 'base/base.html' %}
{% load static %}
{% block content_page %}
    <!-- profile details section -->
    <section id="car-details">
        <h1>User Profile Details</h1>
        <div class="info-section">
            <div class="car-header">
                {% if object.get_full_name %}
                    <!-- user full name (if any) -->
                    <h1>{{ object.get_full_name }}</h1>
                {% endif %}
                <!-- user username -->
                <p class="description">Username: {{ object.username }}</p>
                <!-- user email -->
                <p class="description">Email: {{ object.email }}</p>
                <!-- user age -->
                <p class="description">Role: {{ object.role }}</p>
                <!-- total price of all cars -->
                <p class="description">Level: {{ object.level }}</p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">

                    {% if is_general_manager %}
                        <a href="{% url 'profile-edit user' pk=object.pk %}" class="edit-button">Edit</a>
                        <a href="{% url 'profile-delete user' pk=object.pk %}" class="delete-button">Delete</a>
                    {% endif %}
                </div>
                {% if not approved %}
                    <h1>Waiting for approval from manager</h1>
                {% endif %}
                <p class="description">
                    List of task created by user:
                    {% for task in object.task_set.all %}
                        <li style="color:white">
                            <a style="color:white" href="{% url 'task detail' pk=task.pk %}">task id: {{ task.pk }}:
                                Task name: {{ task.name }},</a>
                        </li>
                    {% endfor %}
                <p class="description">
            </div>
        </div>
    </section>

{% endblock %}